*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --primary-color: #021832;
    --secondary-color: #caa169;
    --bg-color: #f4f4f4;
    --bg-white: #fff;
    --bg-black: #000;

    --primary-font: 'poppins', sans-serif;
    --secondary-font: 'oswald', sans-serif;
    --primary-text: #021832;
    --secondary-text: #caa169;
    --text-white: #fff;
    --text-black: #000;
    --text-gray: #e4e4e4;
}


body {
    font-family: var(--primary-font);
    background-color: var(--bg-white);
}
.blog-submit-div{
    display: flex;
    justify-content: center;
    margin: 8px 0;
}
.blog-submit-div button{
    width: 20rem;
}
a {
    text-decoration: none;
}
section{
    padding: 3.125rem 0;
}
.fa-whatsapp{
    color: green;
}
.icon i{
    font-size: 1.3rem;
    font-weight: 600;
}
.icon:hover {
    cursor: pointer;
}
.main-btn{
    font-size: 1rem;
    font-weight: 500;
    color: var(--primary-color);
    text-transform: uppercase;
    background-color: transparent;
    padding: .375rem 1.875rem;
    border: 1px solid var(--secondary-color);
    border-radius: 3.125rem;
    line-height: 1.75rem;
    display: inline-block;
    transition: all 0.3s ease-out 0;
}
.main-btn:hover{
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: var(--text-white);
}
h1{
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
    color: var(--text-white);
    margin-bottom: 1.25rem;
    text-transform: uppercase;
    font-family: var(--secondary-font);
}
h3{
    margin-bottom: 1.875rem;
    line-height: 2.875rem;
    font-weight: 700;
    font-size: 2.25rem;
    color: var(--primary-text);
    font-family: var(--secondary-font);
}
h5{
    font-size: 1.5rem;
    line-height: 1;
    color: var(--primary-text);
    font-weight: 500;
    font-family: var(--secondary-font);
}
h6{
    font-size: .875rem;
    color: var(--primary-text);
    margin-bottom: .9375rem;
    text-transform: uppercase;
    font-weight: 300;
    font-family: var(--secondary-font);
}
p {
    font-size: 1rem;
    color: var(--text-black);
    line-height: 1.625rem;
/*    text-align: justify;*/
}
.section-title::after{
    content: "";
    background-image: url('../images/title-icon.webp');
    background-position: center center;
    background-repeat:  no-repeat;
    display: block;
    margin-top: 0.9375rem;
    height: .9375rem;
}
.header-wrapper .navbar {
    z-index: 99;
    background-color: var(--bg-white);
    -webkit-box-shadow: 0 .5rem .375rem -0.375rem rgb(0 0 0 / 40%);
    box-shadow: 0 .5rem .375rem -0.375rem rgb(0 0 0 / 40%);
    -webkit-transition: background 0s ease-in-out 0s, margin-top 0s ease-in-out 0s, opacity 0s ease-in-out 0s;
    transition: background 0s ease-in-out 0s, margin-top 0s ease-in-out 0s, opacity 0s ease-in-out 0s;
}

.header-wrapper .toggle-btn{
    display: none;
}
.header-wrapper .navbar-toggler {
    border: 0;
    color: var(--primary-text);
    line-height: 2;
}
.header-wrapper .navbar-toggler:focus{
    box-shadow: none;
}
.header-wrapper .nav-item{
    margin: 0 .625rem;
}
.header-wrapper .nav-item .nav-link{
    font-size: 1rem;
    font-weight: 500;
    color: var(--primary-text);
    display: inline-block;
}
.header-wrapper .nav-item .nav-link:hover, .header-wrapper .nav-item .nav-link.active{
    color: var(--secondary-text);
}
.navbar-brand img{
    width:70px;
    height: 70px;
}
.navbar.header-scrolled {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: rgba(255, 255, 255, .85);
    -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}

/*banner styles*/
.banner-wrapper {
    height: 40.625rem;
}
.banner-wrapper .swiper {
    width: 100%;
    height: 50vh;
}
.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
    transition: opacity 0.3s ease-in-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.slider.active, .slider.zoom-in {
    opacity: 1;
    animation-name: zoom-in;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    filter: grayscale(5%);
}
.slider.fade-in {
    opacity: 1;
    animation-name: fade-in;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    filter: grayscale(5%);
}

.slider h1{
    color: var(--secondary-color);
    font-size: 2.5rem;
    font-weight: 700;
}
.swiper-pagination {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  
  .swiper-pagination span {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--primary-color);
    margin: 0 5px;
  }
  
  .swiper-pagination span.active {
    background: var(--text-gray);
  }
  .swiper-pagination span:hover {
    width: 16px;
    cursor: pointer;
  }

.banner-wrapper .swiper-slide{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.banner-wrapper .swiper-slide::before{
    content: "";
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-black);
    opacity: 0.5;
    z-index: 0;
}
.banner-wrapper .swiper .slide-caption{
    height: 100%;
    position: relative;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-wrapper .swiper .slide-caption p{
    max-width: 37.5rem;
    margin: 0 auto;
    font-weight: 500;
    color: red;
    padding: 2px;
}

.booking-area {
    background: var(--bg-white);
    box-shadow: 0 .625rem .9375rem 0 rgb(0 0 0 / 10%);
    position: absolute;
    bottom: -20%;
    left: 50%;
    transform: translateX(-50%);
    padding: 3.125rem 1.875rem;
    z-index: 20;
}
.booking-area .form-control, .booking-area .form-select{
    border: .0625rem solid var(--primary-color);
    height: 2rem;
    text-transform: uppercase;
    font-size: .875rem;
    color: var(--text-black);
    font-weight: 500;
}
.booking-area .form-control:focus, .booking-area .form-select:focus{
    outline: none;
    box-shadow: none;
}
.booking-area .price {
    display: flex;
    align-items:center;
    justify-content: center;
    margin-bottom: 5px;
    color: var(--bg-black);
    font-weight: 700;
}
.about-wrapper{
    padding-top: 2.375rem;
    margin-top: 6rem;
}

.rooms-wrapper .room-items{
    position: relative;
    overflow: hidden;
}
.rooms-wrapper .room-items img{
    width: 100%;
    -webkit-transition: all 400ms ease-in 0s;
    transition: all 400ms ease-in 0s;
}
.rooms-wrapper .room-items:hover img{
    -webkit-transform: scale3d(1.05,1.05,1.05);
    transform: scale3d(1.05,1.05,1.05);
}
.rooms-wrapper .room-items::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-black);
    opacity: 0;
    z-index: 1;
    -webkit-transition: all 400ms ease-in 0s;
    transition: all 400ms ease-in 0s;
}
.rooms-wrapper .room-items:hover::before{
    opacity: 0.6;
}
.rooms-wrapper .room-item-wrap{
    position: absolute;
    left: 1.875rem;
    right: 1.875rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.rooms-wrapper .room-items .room-content{
    border: .125rem solid var(--bg-white);
    padding: 5rem 1.875rem;
    -webkit-transform: scale3d(1.2,1.2,1.2);
    transform: scale3d(1.2,1.2,1.2);
    transition: all 500ms ease-in 0s;
    opacity: 0;
    height: fit-content;
}
.rooms-wrapper .room-items:hover .room-content{
    opacity: 1;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
}
.rooms-wrapper .room-img {
    height: 450px;
    margin-top: 4px;
}
.rooms-wrapper .room-img img {
    height: 100%;
    width: 100%;
}


.service-item-wrap{
    background-color: var(--bg-color);
}
.service-menu-area ul li a{
    display: block;
    margin-bottom: 2.8125rem;
}
.service-menu-area ul li a .service-icon{
    height: 5.625rem;
    width: 5.625rem;
    background-color: var(--secondary-color);
    line-height: 5.625rem;
    text-align: center;
    border-radius: 50%;
    float: left;
    transition: all 0.3s ease-in-out;
}
.service-menu-area ul li a .service-icon:hover,
.service-menu-area ul li a.active .service-icon{
    background-color: var(--primary-color);
    color: var(--text-white);
    box-shadow: 0 .125rem rgb(0 0 0 / 40%);
}
.service-menu-area ul li:nth-child(1){
    margin-left: 0.5625rem;
}
.service-menu-area ul li:nth-child(2){
    margin-left: -2.9375rem;
}
.service-menu-area ul li:nth-child(3){
    margin-left: -6.375rem;
}
.service-menu-area ul li:nth-child(4){
    margin-left: -8.8125rem;
}
.service-menu-area ul li a p,.service-menu-area ul li a h5{
    padding-left: 6.875rem;
    display: block;
    text-align: left;
}
.service-menu-area ul li a p span{
    color: var(--secondary-color);
}
.service-item-wrap .img-col {
    width: 57%;
    height: 100%;
}
.service-item-wrap .img-col img{
    width: 100%;
    height: 100%;
}

.counter {
    background-image: url('../images/counter-bg.webp');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3.125rem;
    position: relative;
}
.counter::before{
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--bg-black);
    opacity: 0.5;
    z-index: 1;
}
.counter h1, .counter p{
    position: relative;
    z-index: 3;
    color: var(--text-white);
}
/*Team styles*/
.team-wrapper .team-info{
    background-color: var(--secondary-color);
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    padding: 1.25rem;
    margin-bottom: -4.6875rem;
    transition: all 0.3s ease-in-out;
}
.team-wrapper .card:hover .team-info{
    margin-bottom: 0;
}
.team-wrapper .team-info p, .team-wrapper .team-info h5{
    color: var(--text-white);
}
.team-wrapper .team-info .social-network{
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    padding: 1.25rem;
    margin: 1.25rem -1.25rem -1.25rem;
    background-color: var(--primary-color);
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.team-wrapper .team-info .social-network li a{
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    display: block;
    border-radius: 50%;
    font-size: .9375rem;
    color: var(--text-white);
    border: 0.0625rem solid var(--bg-white);
}

.gallery-wrapper .gallery-item{
    padding: 5px;
}
/*pricing styles*/
.price-wrapper .card {
    box-shadow: 0 .125rem .25rem rgb(34 30 31 / 40%);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.price-wrapper .card:hover{
    background-color: var(--secondary-color);
}
.price-wrapper .card:hover .main-btn{
    color: var(--text-white);
    border: 2px solid var(--text-white);
}
.price-wrapper .card:hover h3,.price-wrapper .card:hover h5,.price-wrapper .card:hover p{
    color: var(--text-white);
}
/*blog styles*/
.blog-wrapper .blog-content{
    margin: -5rem 0 0 4.375rem;
    box-shadow: 0 .125rem .25rem rgb(34 30 31 / 40%);
}
.blog-wrapper .blog-img {
    height: 400px;
}
.blog-wrapper .blog-img img {
    height: 100%;
    width: 100%;
}

#rooms-view .flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#rooms-view .flex span i{
    font-size: 16px;
    color: var(--secondary-color);
}
#rooms-view .flex span {
    padding: .3rem 1rem;
}
#rooms-view .blog-content .price {
    color: var(--secondary-color);
    font-weight: 700;
}
#rooms-view .row{
    margin:0 .5rem;
}
#rooms-view .admin i.fa-edit {
    margin-left: 30px;
}
#rooms-view .admin i:hover {
    color: var(--secondary-color);
    cursor: pointer;
}



    .contact .row {
        display: flex;
        flex-wrap: wrap;
        margin: 0 1.2rem;
    }
.contact .row div {
    flex-basis: 50%;
}
.contact p{
    line-height: 1.6;
    font-size: 16px; 
    margin-bottom: 1em;
    text-align: justify;
}
.contact .inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contact textarea,.contact .input-name {
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--secondary-color);
    outline: none;
    margin: 1rem 0;
    padding: 1px;
    font-size: 14px;
}

.contact textarea {
    height: 80px;
}

.contact .input-name {
    height: 30px;
}
.contact .info{
    display: flex;
    justify-content:space-between;
}
.contact .info div {
    display: flex;
    flex-direction: column;
}
.contact .icon {
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: 700;
    margin-right: 3rem;
    margin-top: .5rem;
}
.contact .info h5{
    color: var(--primary-color); 
}

/*Book styles*/
.book .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.book .row .about, .book .row .book-content{
    flex-basis: 50%;
}
.book  .card {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 0 auto;
}
.book  input, .book select, .book label{
    width: 100%;
    padding: 3px;
    margin-bottom: 10px;
}
.book label{
    font-weight: 700;
    font-size: 15px;
}
.book p {
    line-height: 1.6;
    font-size: 16px;
    margin-bottom: 1em;
    text-align: justify;
}
.book .book-img{
    width: 98%;
    height: 250px;
    margin: 10px 5px;
}
.book .book-img img{
    width: 100%;
    height: 100%;
}

#admin .book .card .book-img{
    width:500px;
    display: block;
    margin: 5px auto;
}
.kitchen .row {
    display: flex;
    flex-wrap: wrap;
}
.kitchen .row .food {
    width: 15%;
    padding: 5px;
    margin: 10px 5px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
}
.kitchen .row .food .admin{
    display: flex;
    padding: 2px;
    justify-content: space-between;
}
.kitchen .food p, .kitchen .food h5{
    text-align: center;
}
.kitchen .food button {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    padding: 4px 8px;
    background-color: var(--secondary-color);
    color: var(--text-white);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.kitchen .row .food .admin i {
    font-size: 13px;
    font-weight: 600;
    color: var(--primary-color);
}
.kitchen .img {
    width: 100%;
    height: 180px;
    padding: 15px;
}
.kitchen .img img {
    width: 100%;
    height: 100%;
}

/*blog post content styles*/
.blog-container {
    display: flex;
    flex-wrap: wrap;
}

.blog-container p {
    line-height: 1.6;
    font-size: 16px;
    margin-bottom: 1em;
    text-align: justify;
}
 ul {
    list-style-type: none;
}

.blog-post {
    flex: 2;
    margin-left: 50px;
}

.blog-post .img {
    height: 100vh;
    max-width: 100%;
}

.blog-post .img img {
    width: 100%;
    height: 100%;
}

.blog-post textarea, .input-name {
    width: 100%;
    border: none;
    border-bottom: 1px solid blue;
    outline: none;
    margin: 1rem 0;
    padding: 1px;
    font-size: 14px;
}

textarea {
    height: 80px;
}

.input-name {
    height: 30px;
}

.blog-post button {
    display: block;
    margin-top: 10px;
}
.blog-post h4{
    font-size:14px;
    font-weight: 700;
}

.sidebar {
    flex: 1;
    margin-left: 50px;
}

.sidebar h3 {
    margin: 1rem 0 0 2rem;
}

.search {
    width: 90%;
    border: 1px solid var(--bg-black);
    margin: 3rem 0;
    border-radius: 30px;
    padding: .5rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.search input[type="text"] {
    width: 89%;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    padding: 0 .2rem;
}


.recent-posts, .categories, .tags {
    margin-bottom: 20px;
    line-height: 1.3;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.recent-posts .post {
    display: flex;
    flex-wrap: wrap;
    margin-left: 2rem;
}

.post img {
    width: 85px;
    height: 70px;
    object-fit: cover;
    margin-right: 10px;
    margin-bottom: .5rem;
}

.tags ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3px;
}

.tags li {
    width: fit-content;
    line-height: 1.2rem;
    font-weight: 500;
    text-align: center;
    border-radius: 20px;
    color: #000;
    background-color: var(--primary-color);
    color: var(--text-white);
    margin: 3px;
    padding: 2px 7px;
}
.tags li:hover{
    cursor:pointer;
    background-color: var(--secondary-color);
}

    .categories li i {
        margin-right: 6px;
    }

.comments {
    max-height: 600px;
    overflow-y: scroll;
}

.comments h4 span {
    font-size: 13px;
    font-style: italic;
}

/*notifications*/
.notif {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.notif .container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 400px;
/*    height: 100vh;
    overflow-y: scroll;*/
}

.notification-list {
    list-style: none;
    padding: 0;
}

.notification {
    padding: 10px;
    margin: 10px;
    background-color: #f2f2f2;
    color: var(--primary-color);
    font-weight: 500;
    width: 100%;
}
.notification em {
    float: right;
    color: var(--primary-color);
    font-size: 12px;
    font-style: italic;
}

.notification:hover {
    background-color: #e6e6e6;
}
.bell {
    position: relative;
    display: flex;
}
.notification-counter {
    position: absolute;
    top: 12px;
    right: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    background-color: red;
    color: #fff;
    font-size: 12px;
    border-radius: 50%;
}

.dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}
.dialog .container {
    width: 400px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    z-index: 50;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    border-radius: 10px;
    background-color: var(--primary-color);
}
.dialog input, .dialog button,
.dialog .msg, .dialog select{
    padding: 4px;
    margin: 4px;
    width: 100%;
}
.dialog .close{
    position: absolute;
    top: 0;
    right: 5px;
    color: red;
    font-weight: 600;
    font-size:15px;
}
.dialog h3, .dialog button {
    color: white;
}
.dialog .close:hover{
    font-size: 16px;
}
.dialog span {
    cursor: pointer;
}


.footer-wrapper {
    background-color: var(--bg-black);
}
.footer-wrapper h5{
    color: var(--text-white);
    margin-bottom: 1.25rem;
}
.footer-wrapper ul li{
    list-style: none;
    margin-bottom: 0.5rem;
}
.footer-wrapper .contact-info ul li a{
    color: var(--secondary-color);
    line-height: 0.5rem;
}
.footer-wrapper .link-widget li a, .footer-wrapper p{
    color: var(--text-gray);
    font-size: .875rem;
    padding-left: 1.5rem;
    position: relative;
    -webkit-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
}
.footer-wrapper .link-widget li a::before{
    content: '\f105';
    font-family: "Font Awesome 5 free";
    font-weight: 900;
    position: absolute;
    left: 0.3rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.footer-wrapper .link-widget li a:hover{
    color: var(--secondary-color);
    margin-left: .625rem;
}
.footer-wrapper .social-network a{
    width: 2.187rem;
    height: 2.187rem;
    margin: .5rem;
    line-height: 2rem;
    font-size: .875rem;
    display: inline-block;
    border: .125rem solid var(--text-gray);
    color: var(--text-gray);
    text-align: center;
    border-radius: 100%;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.footer-wrapper .social-network a:hover{
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: var(--text-white);
    transform: translateY(-0.1875rem);
    box-shadow: 0 .625rem .9375rem 0 rgb(0 0 0 / 10%);
}
.footer-wrapper .form-control {
    color: var(--text-white);
    margin: 2px 0;
}
.footer-wrapper .form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: var(--secondary-color);
}
.footer-wrapper .copyright-section{
    background-color: var(--primary-color);
    padding: 1.25rem 0 .3125rem;
    text-align: center;
}
.footer-wrapper .copyright-section a{
    color: var(--secondary-color);
}
.msg.green{
    color: green;
    font-weight:600;
}
.msg.red {
    color: red;
    font-weight: 600;
}
.book-select select{
    padding: 3px;
    width: 270px;
}
.book-select h6{
    color: var(--bg-black);
    line-height: 2rem;
    font-weight: 600;
}
td.check-out{
    color: var(--secondary-color);
    cursor: pointer;
    font-weight: 600;
}
td .tooltip{
    opacity: 0;
    color: var(--primary-color);
    font-size:12px;
    position: relative;
}
td:hover .tooltip{
    opacity: 1;
}


/*nav fade animate*/
@keyframes fadeInDown {
    0%{
        top: -30%;
    }
    50%{
        top: -15%;
    }
    100%{
        top: 0;
    }
}
@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
.fade-in-animation {
    animation-name: fade-in;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
}

@keyframes zoom-in {
    from {
        transform: scale(0.7);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.zoom-in-animation {
    animation-name: zoom-in;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    opacity: 1;
}