@using Microsoft.AspNetCore.Components.Web
@namespace Hotel.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
     <link href="css/style.css" rel="stylesheet" />
    <link href="css/responsive-style.css" rel="stylesheet" />
    <link href="Hotel.styles.css" rel="stylesheet" />
    <link href="css//table.css" rel="stylesheet" />
    <script src="_content/TinyMCE.Blazor/tinymce-blazor.js"></script>
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="100">
    @RenderBody()
    <script src="_framework/blazor.server.js"></script>
    <script src="js/scripts.js"></script>
</body>
</html>
