@page "/about"

<section id="about" class="about-wrapper">
    <div class="container">
        <div class="row flex-lg-row flex-column-reverse">
            <div class="col-lg-6 text-center text-lg-start">
                <h3>
                    Welcome to
                    <span>Your Dream Hotel <br class="d-none d-lg-block"> Home of Opulence and Glamour</span>
                </h3>
                <p>
                    At our Dream Hotel, we understand that personalized service is the key
                    to creating unforgettable memories. Our attentive staff is dedicated 
                    to anticipating your every need, ensuring that your stay with us is
                    nothing short of extraordinary.

                    We eagerly await the opportunity to welcome you and provide an
                    unforgettable experience at our Dream Hotel. Your comfort and 
                    satisfaction are our top priorities, as we strive to create moments 
                    that will linger in your heart long after you depart.

                    Welcome to our Dream Hotel – where dreams become reality.
                </p>
            </div>
            <div class="col-lg-6 mb-4 mb-lg-0 ps-lg-4 text-center">
                <img src="images/welcome1.jpg" alt="about" class="img-fluid">
            </div>
        </div>
    </div>
</section>
