<section id="gallery" class="gallery-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 section-title text-center mb-5">
                <h6>Best pictures of our Hotel</h6>
                <h3>Our Gallery</h3>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-lg-3 col-md-6 gallery-item">
                <img src="./images/gallery/g1.jpg" alt="gallery" class="img-fluid w-100">
                <div class="gallery-item-content"></div>
            </div>
            <div class="col-lg-3 col-md-6 gallery-item">
                <img src="./images/gallery/g3.jpg" alt="gallery" class="img-fluid w-100">
                <div class="gallery-item-content"></div>
            </div>
            <div class="col-lg-3 col-md-6 gallery-item">
                <img src="./images/gallery/g5.jpg" alt="gallery" class="img-fluid w-100">
                <div class="gallery-item-content"></div>
            </div>
            <div class="col-lg-3 col-md-6 gallery-item">
                <img src="./images/gallery/g7.jpg" alt="gallery" class="img-fluid w-100">
                <div class="gallery-item-content"></div>
            </div>
            <div class="col-lg-3 col-md-6 gallery-item">
                <img src="./images/gallery/g2.jpg" alt="gallery" class="img-fluid w-100">
                <div class="gallery-item-content"></div>
            </div>
            <div class="col-lg-3 col-md-6 gallery-item">
                <img src="./images/gallery/g4.jpg" alt="gallery" class="img-fluid w-100">
                <div class="gallery-item-content"></div>
            </div>
            <div class="col-lg-3 col-md-6 gallery-item">
                <img src="./images/gallery/r2.jpg" alt="gallery" class="img-fluid w-100">
                <div class="gallery-item-content"></div>
            </div>
            <div class="col-lg-3 col-md-6 gallery-item">
                <img src="./images/gallery/sasha-kaunas-67-sOi7mVIk-unsplash.jpg" alt="gallery" class="img-fluid w-100">
                <div class="gallery-item-content"></div>
            </div>
        </div>
    </div>
</section>
