@page "/table"
<section class="dynamic-table">
    <div class="table">
        <div class="table-header">
            <h3>Customer's Orders</h3>
        </div>
        <div class="table-body">
            <table>
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Customer</th>
                        <th>Location</th>
                        <th>Order date</th>
                        <th>Status</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td><img src="./images/Kitchen/food12.jpg" alt=""></td>
                        <td>PH City</td>
                        <td>23rd Jun, 2020</td>
                        <td>
                            <p class="status delivered">
                                Delivered
                            </p>
                        </td>
                        <td><strong>$200</strong></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td><img src="./images/Kitchen/food12.jpg" alt=""></td>
                        <td>PH City</td>
                        <td>23rd Jun, 2020</td>
                        <td>
                            <p class="status cancelled">
                                cancelled
                            </p>
                        </td>
                        <td><strong>$200</strong></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td><img src="./images/Kitchen/food12.jpg" alt=""></td>
                        <td>PH City</td>
                        <td>23rd Jun, 2020</td>
                        <td>
                            <p class="status delivered">
                                Delivered
                            </p>
                        </td>
                        <td><strong>$200</strong></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td><img src="./images/Kitchen/food12.jpg" alt=""></td>
                        <td>PH City</td>
                        <td>23rd Jun, 2020</td>
                        <td>
                            <p class="status pending">
                                Delivered
                            </p>
                        </td>
                        <td><strong>$200</strong></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td><img src="./images/Kitchen/food12.jpg" alt=""></td>
                        <td>PH City</td>
                        <td>23rd Jun, 2020</td>
                        <td>Delivered</td>
                        <td>$200</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td><img src="./images/Kitchen/food12.jpg" alt=""></td>
                        <td>PH City</td>
                        <td>23rd Jun, 2020</td>
                        <td>Delivered</td>
                        <td>$200</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td><img src="./images/Kitchen/food12.jpg" alt=""></td>
                        <td>PH City</td>
                        <td>23rd Jun, 2020</td>
                        <td>Delivered</td>
                        <td>$200</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td><img src="./images/Kitchen/food12.jpg" alt=""></td>
                        <td>PH City</td>
                        <td>23rd Jun, 2020</td>
                        <td>Delivered</td>
                        <td>$200</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td><img src="./images/Kitchen/food12.jpg" alt=""></td>
                        <td>PH City</td>
                        <td>23rd Jun, 2020</td>
                        <td>Delivered</td>
                        <td>$200</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td><img src="./images/Kitchen/food12.jpg" alt=""></td>
                        <td>PH City</td>
                        <td>23rd Jun, 2020</td>
                        <td>Delivered</td>
                        <td>$200</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td><img src="./images/Kitchen/food12.jpg" alt=""></td>
                        <td>PH City</td>
                        <td>23rd Jun, 2020</td>
                        <td>Delivered</td>
                        <td>$200</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td><img src="./images/Kitchen/food12.jpg" alt=""></td>
                        <td>PH City</td>
                        <td>23rd Jun, 2020</td>
                        <td>Delivered</td>
                        <td>$200</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td><img src="./images/Kitchen/food12.jpg" alt=""></td>
                        <td>PH City</td>
                        <td>23rd Jun, 2020</td>
                        <td>Delivered</td>
                        <td>$200</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td><img src="./images/Kitchen/food12.jpg" alt=""></td>
                        <td>PH City</td>
                        <td>23rd Jun, 2020</td>
                        <td>Delivered</td>
                        <td>$200</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td><img src="./images/Kitchen/food12.jpg" alt=""></td>
                        <td>PH City</td>
                        <td>23rd Jun, 2020</td>
                        <td>Delivered</td>
                        <td>$200</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

@code {

}
