<section id="team" class="team-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 section-title text-center mb-5">
                <h6>What I can do for you</h6>
                <h3>Our Special Staff</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card p-0 rounded-3">
                    <img src="./images/team/team1.webp" alt="team1" class="img-fluid rounded-3">
                    <div class="team-info">
                        <h5>Justin Davies</h5>
                        <p>Manager</p>
                        <ul class="social-network">
                            <li><a class="fab fa-facebook-f"></a></li>
                            <li><a class="fab fa-twitter"></a></li>
                            <li><a class="fab fa-google-plus-g"></a></li>
                            <li><a class="fab fa-vimeo-v"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card p-0 rounded-3">
                    <img src="./images/team/team2.webp" alt="team1" class="img-fluid rounded-3">
                    <div class="team-info">
                        <h5>Justin Davies</h5>
                        <p>Receptionist</p>
                        <ul class="social-network">
                            <li><a class="fab fa-facebook-f"></a></li>
                            <li><a class="fab fa-twitter"></a></li>
                            <li><a class="fab fa-google-plus-g"></a></li>
                            <li><a class="fab fa-vimeo-v"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card p-0 rounded-3">
                    <img src="./images/team/team3.webp" alt="team1" class="img-fluid rounded-3">
                    <div class="team-info">
                        <h5>Philz Davies</h5>
                        <p>Admin Manager</p>
                        <ul class="social-network">
                            <li><a class="fab fa-facebook-f"></a></li>
                            <li><a class="fab fa-twitter"></a></li>
                            <li><a class="fab fa-google-plus-g"></a></li>
                            <li><a class="fab fa-vimeo-v"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card p-0 rounded-3">
                    <img src="./images/team/team4.webp" alt="team4" class="img-fluid rounded-3">
                    <div class="team-info">
                        <h5>Justin Wiz</h5>
                        <p>Accountant</p>
                        <ul class="social-network">
                            <li><a class="fab fa-facebook-f"></a></li>
                            <li><a class="fab fa-twitter"></a></li>
                            <li><a class="fab fa-google-plus-g"></a></li>
                            <li><a class="fab fa-vimeo-v"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
