<section id="team" class="team-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 section-title text-center mb-5">
                <h6>What I can do for you</h6>
                <h3>Our Special Staff</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card p-0 rounded-3">
                    <div class="team-img">
                        <img src="./images/team/manager.jpg" alt="team1" class="img-fluid rounded-3">
                    </div>
                    <div class="team-info">
                        <h5>Jenny Davies</h5>
                        <p>Manager</p>
                        <ul class="social-network">
                            <li><a class="fab fa-facebook-f"></a></li>
                            <li><a class="fab fa-twitter"></a></li>
                            <li><a class="fab fa-google-plus-g"></a></li>
                            <li><a class="fab fa-vimeo-v"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 alter-top">
                <div class="card p-0 rounded-3">
                    <div class="team-img">
                        <img src="./images/team/reception.jpg" alt="team1" class="img-fluid rounded-3">
                    </div>
                    <div class="team-info">
                        <h5>Julie Khan</h5>
                        <p>Receptionist</p>
                        <ul class="social-network">
                            <li><a class="fab fa-facebook-f"></a></li>
                            <li><a class="fab fa-twitter"></a></li>
                            <li><a class="fab fa-google-plus-g"></a></li>
                            <li><a class="fab fa-vimeo-v"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 alter">
                <div class="card p-0 rounded-3">
                    <div class="team-img">
                        <img src="./images/team/account.jpg" alt="team1" class="img-fluid rounded-3">
                    </div>
                    <div class="team-info">
                        <h5>Justin Wiz</h5>
                        <p>Accountant</p>
                        <ul class="social-network">
                            <li><a class="fab fa-facebook-f"></a></li>
                            <li><a class="fab fa-twitter"></a></li>
                            <li><a class="fab fa-google-plus-g"></a></li>
                            <li><a class="fab fa-vimeo-v"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 alter">
                <div class="card p-0 rounded-3">
                    <div class="team-img">
                        <img src="./images/team/chef.jpg" alt="team1" class="img-fluid rounded-3">
                    </div>
                    <div class="team-info">
                        <h5>Peter Dawn</h5>
                        <p>Cook</p>
                        <ul class="social-network">
                            <li><a class="fab fa-facebook-f"></a></li>
                            <li><a class="fab fa-twitter"></a></li>
                            <li><a class="fab fa-google-plus-g"></a></li>
                            <li><a class="fab fa-vimeo-v"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
